
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, rgb(226, 207, 129), rgb(232, 139, 97));
  font-family: sans-serif;
  min-height: 100vh;
  color: #fff;
}
header {
  font-size: 3.125rem;
  text-align: center;
  font-family: serif;
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  margin: 50px 0 ;

}
 .completed {
  text-decoration: line-through;
  opacity: 0.5;
}
 

